/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* RETINA DISPLAY IMAGES */
/* COLORS */
/* FONTS */
/* LAYOUT */
/* FORMS */
/* Layout rules */
/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
body {
  background: none no-repeat scroll 0 0 #c9cecf;
  color: #000;
  font-family: "Proxima Nova W08", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0; }

/* LINKS CSS 
  --------------------------------------------------------------------- */
a, a.active {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #c70000;
  text-decoration: none; }

a:hover {
  color: #940000;
  text-decoration: underline; }

img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  width: auto; }

.wrap {
  margin: 0 auto;
  max-width: 1200px; }

.front .main-wrapper .main-inner {
  background: transparent none no-repeat scroll 0 0; }

.main-wrapper {
  zoom: 1;
  background: none no-repeat scroll 0 0 #eff3fa; }
  .main-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .main-wrapper .main-inner {
    padding: .5em 0; }
    .main-wrapper .main-inner .content-area .content-inner {
      padding: .625em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  .main-wrapper .main-inner {
    background: #fff none no-repeat scroll 0 0;
    padding: 1.25em 0; }
    .main-wrapper .main-inner .sidebar-left {
      background: none no-repeat scroll 0 0 #fff;
      border-right: 1px solid #c9cecf;
      float: left;
      margin: 0 -1px 0 0;
      width: 25%; }
    .main-wrapper .main-inner .content-area.content-sidebar-left {
      border-left: 1px solid #c9cecf;
      float: left;
      margin: 0 0 0 -1px;
      width: 74%; }
    .main-wrapper .main-inner .content-area .content-inner {
      padding: .625em 1em; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {
  .main-wrapper .main-inner {
    padding: 1.5em 0; }
    .main-wrapper .main-inner .sidebar-left {
      margin: 0;
      width: 220px; }
    .main-wrapper .main-inner .content-area.content-sidebar-left {
      float: none;
      margin: 0 0 0 220px;
      width: inherit; }
    .main-wrapper .main-inner .content-area .content-inner {
      padding: .625em 1em; } }

/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .main-wrapper .main-inner .content-area .content-inner {
    padding: 1.5em 2em; } }

/* Component (SMACSS module) rules */
fieldset {
  background: none no-repeat scroll 0 0 #fff;
  border: 1px solid #eaeaea;
  margin: 0 0 1.5em;
  padding: 1em; }

legend {
  background: none no-repeat scroll 0 0 #c70000;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1.125em;
  margin: 0;
  padding: .5em .75em;
  width: auto; }

input,
label,
select {
  display: block;
  font-family: "Proxima Nova W08", Arial, Helvetica, sans-serif;
  font-size: 1em; }

label {
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

.cke_chrome {
  margin-bottom: 1em !important; }

input[type="file"] {
  margin: 0 0 1em;
  width: 100%; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

select {
  width: auto;
  margin-bottom: 1.5em; }

select {
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -ms-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.25em;
  resize: vertical;
  width: 100%; }
  select:focus {
    outline: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -ms-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);*/
  color: #000;
  font-family: "Proxima Nova W08", Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  margin-bottom: 0.5em;
  padding: .375em .875em;
  resize: vertical;
  width: 100%; }

textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  border-color: #adadad; }

textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  border-color: #adadad;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.25);
  outline: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

button, input[type="submit"] {
  background: #c70000;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova W08", Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: 400;
  margin: 0 0 1em;
  padding: .875em 2em;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-appearance: none;
  white-space: nowrap; }
  button:hover, input[type="submit"]:hover {
    background: #9e0000; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  button, input[type="submit"] {
    display: inline-block;
    margin: 0 1em 1em 0; }
  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: auto; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova W01";
  font-weight: 700;
  margin: 0 0 .5em; }

h1 {
  font-size: 1.75em;
  line-height: 1.125em; }
  h1.page-title {
    color: #be2227;
    text-transform: uppercase; }

h2 {
  font-size: 1.5em;
  line-height: 1.25em; }

h3 {
  font-size: 1.375em;
  line-height: 1.25em; }

h4 {
  font-size: 1.25em;
  line-height: 1.25em; }

h5 {
  font-size: 1.125em;
  line-height: 1.25em; }

h6 {
  font-size: 1em;
  line-height: 1.125em; }

p, pre {
  margin: 0 0 1.5em; }

ul, ol {
  margin: 0 0 1.5em; }
  ul.no-bullets, ol.no-bullets {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 .5em; }

hr {
  border: 1px solid #c9cecf; }

.lowercase {
  text-transform: lowercase; }

.red {
  color: #be2227; }

.green, .teal {
  color: #37696e; }

.deck {
  font-family: "Proxima Nova W08";
  font-size: 1.375em;
  font-weight: 400; }

strong, b {
  font-family: "Proxima Nova W01";
  font-weight: normal; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  h1 {
    font-size: 2.25em;
    line-height: 1.125em; }
  .page__title {
    margin: 0 0 .5em; }
  h2 {
    font-size: 1.75em;
    line-height: 1.25em; }
  h3 {
    font-size: 1.5em;
    line-height: 1.25em; }
  h4 {
    font-size: 1.25em;
    line-height: 1.25em; }
  h5 {
    font-size: 1.125em;
    line-height: 1.25em; }
  h6 {
    font-size: 1em;
    line-height: 1.125em; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%; }
  table thead tr:hover {
    box-shadow: none; }
  table th {
    background-color: #677779;
    border: 1px solid #677779;
    color: #fff;
    font-size: .938em;
    font-weight: 600;
    padding: .5em 1em;
    text-align: left; }
  table td {
    border: 1px solid #849191;
    font-size: .875em;
    padding: .875em 1em; }
    table td a {
      color: #000;
      text-decoration: none; }
      table td a:hover {
        color: #c70000; }
      table td a.button {
        color: #fff; }
        table td a.button:hover {
          color: #fff; }
    table td .button.small {
      padding: .125em 1em; }
  table tr, table td, table th {
    vertical-align: middle; }
    table tr.nowrap, table td.nowrap, table th.nowrap {
      white-space: nowrap;
      width: 1px; }
    table tr.align-center, table td.align-center, table th.align-center {
      text-align: center; }
    table tr.align-right, table td.align-right, table th.align-right {
      text-align: right; }
  table tr {
    background-color: #ebebeb; }
    table tr:hover {
      background-color: #fff; }
    table tr:nth-child(2n) {
      background-color: #e1e1e1; }
      table tr:nth-child(2n):hover {
        background-color: #fff; }

@media screen and (max-width: 767px) {
  table {
    border: none; }
    table thead {
      display: none; }
    table tr {
      border-bottom: 2px solid #849191;
      display: block;
      margin: 0 0 1.5em; }
    table td {
      border-bottom: 0;
      display: block;
      font-size: .875em;
      min-height: 1em;
      text-align: right; }
      table td:last-child {
        border-bottom: 0; }
      table td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase; }
      table td.nowrap {
        white-space: inherit;
        width: auto; }
      table td.align-center {
        text-align: right; }
      table td .button, table td .btn {
        width: auto; } }

.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-family: "Proxima Nova W01";
  background: none no-repeat scroll 0 0 #be2227;
  color: #fff;
  display: inline-block;
  font-size: .875em;
  font-weight: 700;
  margin: 0 0 .5em;
  padding: .875em 2.5em;
  vertical-align: middle; }
  .btn:hover {
    background: none no-repeat scroll 0 0 #9b1c20;
    color: #fff;
    text-decoration: none; }
  .btn.all-caps {
    text-transform: uppercase; }
  .btn.green {
    background: none no-repeat scroll 0 0 #37696e; }
    .btn.green:hover {
      background: none no-repeat scroll 0 0 #294f53; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
#tabs {
  background: #fff none no-repeat scroll 0 0;
  margin: 0 0 1.5em;
  padding: 0; }
  #tabs .ui-tabs-nav {
    zoom: 1;
    background: #be2227 none no-repeat scroll 0 0;
    margin: 0;
    padding: 0; }
    #tabs .ui-tabs-nav:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #tabs .ui-tabs-nav li {
      font-family: "Proxima Nova W01";
      font-weight: 600;
      float: none;
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #tabs .ui-tabs-nav li.ui-tabs-active a {
        background: #cd4045 none no-repeat scroll 0 0; }
        #tabs .ui-tabs-nav li.ui-tabs-active a:hover {
          text-decoration: none; }
      #tabs .ui-tabs-nav li a {
        color: #fff;
        display: block;
        float: none;
        padding: .75em .875em; }
  #tabs .ui-tabs-panel {
    padding: 1em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  #tabs {
    zoom: 1; }
    #tabs:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #tabs .ui-tabs-nav {
      float: left;
      margin: 0;
      width: 30%; }
      #tabs .ui-tabs-nav li.ui-tabs-active {
        position: relative; }
        #tabs .ui-tabs-nav li.ui-tabs-active:after {
          color: #cd4045;
          content: url("../images/active-pointer-right.png");
          display: block;
          margin: -18px 0 0;
          position: absolute;
          right: -15px;
          top: 50%; }
    #tabs .ui-tabs-panel {
      zoom: 1;
      float: left;
      margin: 0;
      padding: 1.5em 2% .5em 4%;
      width: 64%; }
      #tabs .ui-tabs-panel:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  #tabs {
    margin: 0 0 2em; }
    #tabs .ui-tabs-nav {
      width: 25%; }
      #tabs .ui-tabs-nav li a {
        padding: .75em 1.25em; }
    #tabs .ui-tabs-panel {
      width: 69%; } }

#accordion {
  margin: 0 0 1.5em; }
  #accordion h3 {
    background-image: url("../images/icon-arrow-black-right.png");
    background-repeat: no-repeat;
    background-position: .5em center;
    background-color: transparent;
    border-bottom: 1px solid #c9cecf;
    cursor: pointer;
    font-size: 1.125em;
    margin: 0;
    padding: .75em 0 .75em 2em; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      #accordion h3 {
        background-image: url("../images/icon-arrow-black-right@2x.png");
        background-size: 10px 16px; } }
    #accordion h3:hover {
      background-image: url("../images/icon-arrow-red-right.png");
      color: #c70000; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #accordion h3:hover {
          background-image: url("../images/icon-arrow-red-right@2x.png");
          background-size: 10px 16px; } }
    #accordion h3.ui-state-active {
      background-image: url("../images/icon-arrow-red-down.png");
      background-repeat: no-repeat;
      background-position: .25em center;
      background-color: transparent;
      border: none;
      color: #c70000; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #accordion h3.ui-state-active {
          background-image: url("../images/icon-arrow-red-down@2x.png");
          background-size: 16px 10px; } }
      #accordion h3.ui-state-active:hover {
        background-image: url("../images/icon-arrow-red-down.png");
        color: #c70000; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          #accordion h3.ui-state-active:hover {
            background-image: url("../images/icon-arrow-red-down@2x.png");
            background-size: 16px 10px; } }
  #accordion .ui-accordion-content {
    padding: 0 2em 0 2.5em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
.main-wrapper .main-inner {
  zoom: 1; }
  .main-wrapper .main-inner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .main-wrapper .main-inner .content .content-area {
    background: #fff none no-repeat scroll 0 0;
    margin: .5em 0 0;
    padding: 1em .625em; }
  .main-wrapper .main-inner .sidebar-right .sidebar-inner {
    background: #fff none no-repeat scroll 0 0;
    padding: 0 .625em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  .front .main-wrapper {
    padding: 0; }
  .main-wrapper {
    padding: 1.5em 0; }
    .main-wrapper .main-inner {
      background: #fff none no-repeat scroll 0 0; }
      .main-wrapper .main-inner .content {
        float: left;
        margin: 0;
        width: 70%; }
        .main-wrapper .main-inner .content .content-area {
          padding: 0 2em 0 .625em; }
      .main-wrapper .main-inner .sidebar-right {
        float: right;
        margin: 0;
        width: 30%; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .main-wrapper .main-inner .content {
    float: left;
    margin: 0;
    width: 75%; }
    .main-wrapper .main-inner .content .content-area {
      padding: 0 2em 0 1.5em; }
  .main-wrapper .main-inner .sidebar-right {
    width: 25%; }
    .main-wrapper .main-inner .sidebar-right .sidebar-inner {
      padding: 0 1.5em 0 .625em; } }

@media all and (min-width: 1440px) {
  .main-wrapper .main-inner .content {
    width: 100%; }
    .main-wrapper .main-inner .content .content-area {
      padding: 0 300px 0 1.5em; }
  .main-wrapper .main-inner .sidebar-right {
    margin-left: -280px;
    width: 280px; } }

/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
#footer {
  zoom: 1; }
  #footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #footer .footer-inner {
    zoom: 1;
    color: #3a3e3e;
    padding: 1.5em .625em 0; }
    #footer .footer-inner:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #footer .footer-inner .block {
      font-size: .875em;
      line-height: 1.375em;
      text-align: center; }
      #footer .footer-inner .block a {
        color: #3a3e3e;
        text-decoration: underline; }
        #footer .footer-inner .block a:hover {
          text-decoration: none; }
      #footer .footer-inner .block.address img {
        display: block;
        margin: 0 auto 1em; }
      #footer .footer-inner .block.links {
        font-size: .75em;
        line-height: 1.25em; }
        #footer .footer-inner .block.links p {
          margin: 0 0 .25em; }
        #footer .footer-inner .block.links ul {
          margin: 0 0 1em;
          padding: 0; }
          #footer .footer-inner .block.links ul li {
            border-right: 1px solid #677779;
            display: inline-block;
            line-height: 1;
            list-style: none;
            margin: 0 .125em 0 0;
            padding: 0 .25em 0 0; }
            #footer .footer-inner .block.links ul li:last-child {
              border: none;
              margin: 0;
              padding: 0; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  #footer .footer-inner .block {
    float: left; }
    #footer .footer-inner .block.address {
      padding: 0 0 0 2%;
      text-align: left;
      width: 48%; }
      #footer .footer-inner .block.address img {
        float: left;
        margin: 0 1em 1em 0; }
    #footer .footer-inner .block.links {
      font-size: .875em;
      padding: 0 2% 0 0;
      text-align: right;
      width: 48%; }
      #footer .footer-inner .block.links ul li {
        margin: 0 .25em 0 0;
        padding: 0 .5em 0 0; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
#header {
  zoom: 1;
  background: #fff none no-repeat scroll 0 0;
  border-top: 4px solid #be2227;
  position: relative; }
  #header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #header .header-region {
    background: transparent none no-repeat scroll 0 0;
    margin: 0 auto;
    padding: 0;
    position: relative; }
    #header .header-region .utility-block {
      zoom: 1; }
      #header .header-region .utility-block:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      #header .header-region .utility-block ul {
        margin: 0;
        padding: 0; }
        #header .header-region .utility-block ul li {
          float: left;
          list-style: none;
          list-style-type: none;
          margin: 0;
          text-align: center;
          width: 50%; }
          #header .header-region .utility-block ul li a {
            font-family: "Proxima Nova W08";
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
            display: block;
            font-size: .75em;
            font-weight: 400;
            margin: 0;
            padding: .875em 1em; }
    #header .header-region .social-media-icons {
      zoom: 1;
      padding: .5em 0 0;
      text-align: right; }
      #header .header-region .social-media-icons:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      #header .header-region .social-media-icons ul {
        margin: 0;
        padding: 0; }
        #header .header-region .social-media-icons ul li {
          font-family: "Proxima Nova W01";
          color: #849191;
          display: inline-block;
          font-size: .875em;
          list-style: none;
          list-style-type: none;
          margin: 0 .25em;
          text-transform: uppercase;
          vertical-align: middle; }
          #header .header-region .social-media-icons ul li a.icon {
            background-repeat: no-repeat;
            background-position: center center;
            background-color: transparent;
            display: block;
            height: 30px;
            overflow: hidden;
            text-indent: 9999px;
            width: 30px; }
            #header .header-region .social-media-icons ul li a.icon.facebook {
              background-image: url("../images/icon-facebook.png"); }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                #header .header-region .social-media-icons ul li a.icon.facebook {
                  background-image: url("../images/icon-facebook@2x.png");
                  background-size: 30px 30px; } }
            #header .header-region .social-media-icons ul li a.icon.twitter {
              background-image: url("../images/icon-twitter.png"); }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                #header .header-region .social-media-icons ul li a.icon.twitter {
                  background-image: url("../images/icon-twitter@2x.png");
                  background-size: 30px 30px; } }
  #header .logo-wrapper {
    margin: .75em .5em .25em; }
    #header .logo-wrapper a {
      background: url("../images/esm-logo.png") no-repeat scroll 0 0/contain transparent;
      display: block;
      min-height: 60px;
      text-indent: -9999px; }
    #header .logo-wrapper.mars a {
      background-image: url("../images/mars-logo.png"); }

/* Tablet styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 480px) {
  #header .logo-wrapper a {
    min-height: 80px; } }

/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  #header .header-region {
    float: right; }
    #header .header-region .utility-block ul li {
      margin: .25em;
      width: auto; }
      #header .header-region .utility-block ul li a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: .875em 2em; }
    #header .header-region .social-media-icons {
      padding: .5em .625em 0 0; }
  #header .logo-wrapper {
    float: left;
    margin: 1em .625em;
    width: 50%; }
    #header .logo-wrapper a {
      min-height: 65px; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {
  #header .header-region {
    background: none;
    padding: 0; }
  #header .logo-wrapper {
    margin: .625em .625em .25em; }
    #header .logo-wrapper a {
      min-height: 85px; } }

/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
#navigation-wrapper {
  background: #37696e none no-repeat scroll 0 0; }
  #navigation-wrapper .navigation-inner {
    zoom: 1;
    padding: .5em .5em .375em; }
    #navigation-wrapper .navigation-inner:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

#navigation {
  font-family: "Proxima Nova W01";
  display: none;
  font-weight: 700; }

#mobile-icon {
  float: left; }
  #mobile-icon #responsive-menu-button {
    background-image: url("../images/icon-menu.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    color: #fff;
    display: table-cell;
    height: 40px;
    padding: 0 0 0 50px;
    vertical-align: middle;
    width: 40px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      #mobile-icon #responsive-menu-button {
        background-image: url("../images/icon-menu@2x.png");
        background-size: 40px 40px; } }

.sidr {
  font-family: "Proxima Nova W01";
  background: none no-repeat scroll 0 0 #eff3fa;
  -webkit-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.25);
  color: #333;
  font-size: 1em;
  font-weight: 600; }
  .sidr ul {
    border: none; }
    .sidr ul li {
      border-bottom: 1px solid #677779;
      border-top: none;
      line-height: 48px; }
      .sidr ul li a, .sidr ul li span {
        color: #333; }
        .sidr ul li a:hover, .sidr ul li span:hover {
          -webkit-box-shadow: none;
          box-shadow: none; }
      .sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
        line-height: 48px; }
        .sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
          box-shadow: none; }
      .sidr ul li ul li {
        line-height: 36px; }
        .sidr ul li ul li:hover > a,
        .sidr ul li ul li:hover > span,
        .sidr ul li ul li.active > a,
        .sidr ul li ul li.active > span,
        .sidr ul li ul li.sidr-class-active > a,
        .sidr ul li ul li.sidr-class-active > span {
          box-shadow: none; }
        .sidr ul li ul li a, .sidr ul li ul li span {
          line-height: 1.25em;
          padding: .75em 1.5em; }

.search-block {
  float: right; }
  .search-block .search-icon a {
    background-image: url("../images/icon-search.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    color: #fff;
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .search-block .search-icon a {
        background-image: url("../images/icon-search@2x.png");
        background-size: 40px 40px; } }
  .search-block .search-form {
    zoom: 1;
    display: none;
    position: relative; }
    .search-block .search-form:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .search-block .search-form .form-element input {
      font-size: 1em;
      margin: 0;
      padding: .375em 2em .375em .875em;
      width: 200px; }
      .search-block .search-form .form-element input.submit-btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        background: transparent url("/images/icon-search-gray.png") no-repeat scroll center center;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        top: 0;
        width: 32px; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  #mobile-icon {
    display: none; }
  #navigation {
    display: block; }
    #navigation ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #navigation ul li {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        width: auto; }
        #navigation ul li:after {
          background: #26494c none no-repeat scroll 0 0;
          content: " ";
          display: block;
          height: 20px;
          margin: -10px 0 0;
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px; }
        #navigation ul li:last-child:after {
          display: none; }
        #navigation ul li a {
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          border-radius: 6px;
          color: #fff;
          display: block;
          padding: .5em 1.125em;
          text-transform: uppercase; }
          #navigation ul li a:hover {
            background: none no-repeat scroll 0 0 #26494c;
            text-decoration: none; }
        #navigation ul li:hover > a {
          background: none no-repeat scroll 0 0 #26494c; }
        #navigation ul li:hover ul {
          background: #26494c none no-repeat scroll 0 0;
          display: block;
          top: 35px; }
        #navigation ul li ul {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          background: #fff none no-repeat scroll 0 0;
          -webkit-box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
          display: none;
          left: 0;
          padding: .75em 1.5em;
          position: absolute;
          top: 0;
          width: 12em;
          z-index: 999; }
          #navigation ul li ul:before {
            content: url("/images/nav-hover-arrow.png");
            display: block;
            height: 29px;
            left: 16px;
            position: absolute;
            top: -4px;
            width: 26px; }
          #navigation ul li ul li {
            float: none;
            margin: 0;
            padding: 0;
            width: 100%; }
            #navigation ul li ul li:after {
              display: none; }
            #navigation ul li ul li a {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              background: transparent none no-repeat scroll 0 0;
              color: #37696e;
              font-size: 1em;
              padding: .5em 0;
              text-transform: none; }
              #navigation ul li ul li a:hover {
                background: transparent none no-repeat scroll 0 0;
                text-decoration: underline; }
  .search-block .search-icon {
    display: none; }
  .search-block .search-form {
    display: block; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {
  #navigation ul li {
    margin: 0 .5em; }
    #navigation ul li:after {
      right: -10px; }
    #navigation ul li a {
      font-size: 1.25em; }
    #navigation ul li:hover ul {
      background: #fff none no-repeat scroll 0 0;
      display: block;
      top: 45px; }
    #navigation ul li ul:before {
      top: -8px; }
  .search-block .search-form .form-element input {
    font-size: 1.125em; }
    .search-block .search-form .form-element input.submit-btn {
      height: 36px;
      width: 36px; } }

/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .search-block .search-form .form-element input {
    width: auto; } }

/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
.postscript-wrapper {
  zoom: 1;
  background: none no-repeat scroll 0 0 #c70000; }
  .postscript-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .postscript-wrapper .postscript-inner {
    color: #fff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.5em .625em;
    text-align: center; }
    .postscript-wrapper .postscript-inner .quote-img {
      display: none;
      text-align: center; }
      .postscript-wrapper .postscript-inner .quote-img img {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px; }
    .postscript-wrapper .postscript-inner .quote-text .quote {
      font-family: Georgia, Times, serif;
      font-size: 1.125em;
      font-style: italic;
      margin: 0 0 1em; }
    .postscript-wrapper .postscript-inner .quote-text .name {
      font-size: .875em;
      font-weight: bold;
      margin: 0 0 .25em;
      text-transform: uppercase; }
    .postscript-wrapper .postscript-inner .quote-text .title {
      font-size: .75em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  .postscript-wrapper .postscript-inner {
    zoom: 1; }
    .postscript-wrapper .postscript-inner:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .postscript-wrapper .postscript-inner .quote-img {
      display: block;
      float: left;
      margin: 0 4% 0 0;
      width: 21%; }
    .postscript-wrapper .postscript-inner .quote-text {
      float: left;
      margin: 0;
      text-align: left;
      width: 75%; }
      .postscript-wrapper .postscript-inner .quote-text .quote {
        font-size: 1.25em;
        margin: 0 0 1.5em; }
      .postscript-wrapper .postscript-inner .quote-text .name {
        border-top: 3px solid #fff;
        display: inline-block;
        font-size: 1em;
        padding: 2em 0 0; }
      .postscript-wrapper .postscript-inner .quote-text .title {
        font-size: .875em; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .postscript-wrapper .postscript-inner .quote-text .quote {
    font-size: 1.375em;
    margin: 1em 0 1.5em; } }

/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
.hero-wrapper {
  margin: 0 0 1em; }

.flexslider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background: none no-repeat scroll 0 0 #fff;
  border: none;
  display: inline-block;
  margin: 0;
  position: relative; }
  .flexslider ul li {
    zoom: 1; }
    .flexslider ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .flexslider ul li .hero-text {
      padding: .25em .625em; }
      .flexslider ul li .hero-text h2 {
        font-size: 1.25em;
        margin: 0 0 .25em; }
      .flexslider ul li .hero-text .hero-btn {
        text-align: center; }
        .flexslider ul li .hero-text .hero-btn .btn {
          padding: .625em 3em; }
  .flexslider .flex-control-nav, .flexslider .flex-control-paging {
    bottom: auto;
    padding: 1em 0;
    position: relative;
    text-align: center;
    width: 100%; }
    .flexslider .flex-control-nav li, .flexslider .flex-control-paging li {
      cursor: pointer;
      margin: 0 4px; }
      .flexslider .flex-control-nav li a, .flexslider .flex-control-paging li a {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        background: rgba(201, 206, 207, 0.75) none no-repeat scroll 0 0;
        border: 1px solid #677779;
        box-shadow: none;
        cursor: pointer;
        display: block;
        height: 16px;
        text-indent: -9999px;
        width: 16px; }
        .flexslider .flex-control-nav li a:hover, .flexslider .flex-control-paging li a:hover {
          background: rgba(201, 206, 207, 0.95) none no-repeat scroll 0 0; }
        .flexslider .flex-control-nav li a.flex-active, .flexslider .flex-control-paging li a.flex-active {
          background: white none no-repeat scroll 0 0; }
  .flexslider .flex-direction-nav {
    display: none; }
    .flexslider .flex-direction-nav a {
      bottom: -50px;
      opacity: 1;
      top: auto; }
      .flexslider .flex-direction-nav a.flex-prev {
        background-image: url("../images/hero-btn-prev.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        left: 36%;
        text-indent: -9999px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .flexslider .flex-direction-nav a.flex-prev {
            background-image: url("../images/hero-btn-prev@2x.png");
            background-size: 40px 40px; } }
        .flexslider .flex-direction-nav a.flex-prev:before {
          content: none; }
      .flexslider .flex-direction-nav a.flex-next {
        background-image: url("../images/hero-btn-next.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        right: 36%;
        text-indent: 9999px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .flexslider .flex-direction-nav a.flex-next {
            background-image: url("../images/hero-btn-next@2x.png");
            background-size: 40px 40px; } }
        .flexslider .flex-direction-nav a.flex-next:before {
          content: none; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    left: 36%;
    opacity: 1; }
  .flexslider:hover .flex-direction-nav a.flex-next {
    opacity: 1;
    right: 36%; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {
  .flexslider ul {
    background: #454545 none no-repeat scroll 0 0; }
    .flexslider ul li .hero-img {
      float: right;
      margin: 0;
      width: 70%; }
    .flexslider ul li .hero-text {
      float: left;
      padding: 2% 3% 0 2%;
      width: 25%; }
      .flexslider ul li .hero-text h2 {
        color: #fff;
        font-size: 2.25em;
        line-height: 1;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45); }
    .flexslider ul li .hero-teaser {
      color: #fff;
      font-weight: 600;
      line-height: 1.375em;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45); }
  .flexslider .flex-control-nav, .flexslider .flex-control-paging {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    background: transparent none no-repeat scroll 0 0;
    bottom: auto;
    padding: .638em 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: auto;
    z-index: 100; }
  .flexslider .flex-direction-nav a {
    bottom: auto;
    top: 35%; }
    .flexslider .flex-direction-nav a.flex-prev {
      left: 0; }
    .flexslider .flex-direction-nav a.flex-next {
      right: 0; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    left: 0;
    opacity: 1; }
  .flexslider:hover .flex-direction-nav a.flex-next {
    opacity: 1;
    right: 0; } }

/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .flexslider ul li .hero-img {
    width: 75%; }
  .flexslider ul li .hero-text {
    width: 20%; }
    .flexslider ul li .hero-text h2 {
      font-size: 3em;
      line-height: 1; }
  .flexslider ul li .hero-teaser {
    font-size: 1.125em;
    line-height: 1.375em; }
  .flexslider .flex-direction-nav a {
    bottom: 4%;
    top: auto; }
    .flexslider .flex-direction-nav a.flex-prev {
      left: auto;
      right: 20%; }
    .flexslider .flex-direction-nav a.flex-next {
      right: 16%; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    left: auto;
    right: 25%;
    opacity: 1; }
  .flexslider:hover .flex-direction-nav a.flex-next {
    opacity: 1;
    right: 16%; } }

/* Global/Mobile Custom Styles  
  --------------------------------------------------------------------- */
.breadcrumb-wrapper {
  border-bottom: 1px solid #e6e6e6;
  display: none;
  margin: 0 0 1.5em;
  padding: 0 .625em .5em; }
  .breadcrumb-wrapper a {
    color: #37696e; }
  .breadcrumb-wrapper .icon {
    float: right;
    font-size: 1.25em;
    margin: 0 .375em; }
    .breadcrumb-wrapper .icon.print {
      color: #be2227; }
      .breadcrumb-wrapper .icon.print:hover {
        color: #9b1c20; }
    .breadcrumb-wrapper .icon.share {
      color: #4cb681; }
      .breadcrumb-wrapper .icon.share:hover {
        color: #3f9a6d; }

.cta-blocks-wrapper .cta-block {
  background: #fff none no-repeat scroll 0 0;
  margin: 0 0 1em;
  padding: 1em .625em;
  position: relative; }
  .cta-blocks-wrapper .cta-block h3 {
    color: #3a3e3e;
    font-size: 1em;
    line-height: 1;
    margin: 0 4em 1.5em 0;
    text-transform: uppercase; }
  .cta-blocks-wrapper .cta-block .view-more {
    font-size: .875em;
    position: absolute;
    right: 1.25em;
    top: .75em; }
  .cta-blocks-wrapper .cta-block .view-row {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 1em;
    padding: 0 0 1em; }
    .cta-blocks-wrapper .cta-block .view-row:last-child {
      border: none;
      margin: 0;
      padding: 0; }
    .cta-blocks-wrapper .cta-block .view-row .title {
      font-family: "Proxima Nova W01";
      color: #be2227;
      font-weight: 700;
      margin: 0 0 .25em; }
    .cta-blocks-wrapper .cta-block .view-row .teaser {
      line-height: 1.5em; }
  .cta-blocks-wrapper .cta-block.benefits .view-row {
    font-size: .875em;
    text-align: center; }
    .cta-blocks-wrapper .cta-block.benefits .view-row:last-child {
      border-bottom: 1px solid #e6e6e6;
      margin: 0 0 1em;
      padding: 0 0 1em; }
    .cta-blocks-wrapper .cta-block.benefits .view-row .title {
      font-size: 2.5em;
      margin: 0; }
  .cta-blocks-wrapper .cta-block.benefits .disclaimer {
    font-size: .75em; }
  .cta-blocks-wrapper .cta-block.news .view-row {
    zoom: 1; }
    .cta-blocks-wrapper .cta-block.news .view-row:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .cta-blocks-wrapper .cta-block.news .view-row .title {
      font-family: "Proxima Nova W08";
      font-size: 1.125em;
      font-weight: 400;
      line-height: 1.25em; }
    .cta-blocks-wrapper .cta-block.news .view-row .date {
      font-family: "Proxima Nova W01";
      margin: 0 .25em 0 0; }
    .cta-blocks-wrapper .cta-block.news .view-row .tags {
      color: #3a3e3e;
      font-size: .75em;
      font-style: italic;
      line-height: 1.25em;
      margin: .75em 0 0;
      padding: 0 0 0 1.75em;
      position: relative; }
      .cta-blocks-wrapper .cta-block.news .view-row .tags:before {
        color: #849191;
        content: "\f02c";
        font-family: FontAwesome;
        left: 0;
        position: absolute;
        top: 0; }
  .cta-blocks-wrapper .cta-block.events .view-row {
    zoom: 1; }
    .cta-blocks-wrapper .cta-block.events .view-row:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .cta-blocks-wrapper .cta-block.events .view-row .event-date {
      float: left;
      line-height: 1;
      text-align: center;
      width: 60px; }
      .cta-blocks-wrapper .cta-block.events .view-row .event-date span {
        display: block;
        width: 100%; }
      .cta-blocks-wrapper .cta-block.events .view-row .event-date .month {
        color: #be2227;
        text-transform: uppercase; }
      .cta-blocks-wrapper .cta-block.events .view-row .event-date .day {
        font-family: "Proxima Nova W01";
        color: #be2227;
        font-size: 1.875em;
        font-weight: 700; }
    .cta-blocks-wrapper .cta-block.events .view-row .event-title {
      font-family: "Proxima Nova W01";
      font-size: 1.125em;
      line-height: 1.25em;
      margin: 0 0 .25em 65px; }
      .cta-blocks-wrapper .cta-block.events .view-row .event-title a {
        color: #000; }
        .cta-blocks-wrapper .cta-block.events .view-row .event-title a:hover {
          color: #be2227; }
    .cta-blocks-wrapper .cta-block.events .view-row .event-teaser {
      margin: 0 0 0 65px; }

.sidebar-right .block {
  zoom: 1;
  margin: 0 0 1.5em;
  position: relative; }
  .sidebar-right .block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .sidebar-right .block .block-title {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0 0 .5em;
    text-transform: uppercase; }
  .sidebar-right .block.useful-links .block-content ul li {
    margin: 0 0 .75em; }

.news-list-view {
  margin: 2em 0 0; }
  .news-list-view .view-row {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 1.5em;
    padding: 0 0 1.5em; }
    .news-list-view .view-row .title {
      font-family: "Proxima Nova W01";
      font-size: 1.25em; }
    .news-list-view .view-row .date {
      font-family: "Proxima Nova W01";
      margin: 0 0 .375em; }
    .news-list-view .view-row .teaser {
      margin: 0 0 .75em; }
    .news-list-view .view-row .category {
      font-size: .875em;
      margin: 0 0 .25em; }
    .news-list-view .view-row .tags {
      font-size: .875em;
      padding: 0 0 0 1.5em;
      position: relative; }
      .news-list-view .view-row .tags:before {
        color: #849191;
        content: "\f02c";
        font-family: FontAwesome;
        left: 0;
        position: absolute;
        top: .25em; }

.news-view .date {
  font-family: "Proxima Nova W01";
  margin: 0 0 .375em; }

.news-view .category {
  font-size: .875em;
  margin: 0 0 .25em; }

.news-view .tags {
  font-size: .875em;
  padding: 0 0 0 1.5em;
  position: relative; }
  .news-view .tags:before {
    color: #849191;
    content: "\f02c";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: .25em; }

.event-filter {
  zoom: 1;
  margin: 0 0 1.5em; }
  .event-filter:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.events-list-view {
  margin: 2em 0 0; }
  .events-list-view .view-row {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 1.5em;
    padding: 0 0 1.5em; }
    .events-list-view .view-row .title {
      font-family: "Proxima Nova W01";
      font-size: 1.25em; }
    .events-list-view .view-row .date {
      font-family: "Proxima Nova W01";
      margin: 0 0 .375em; }
    .events-list-view .view-row .teaser {
      margin: 0 0 .75em; }

.events-view .date {
  font-family: "Proxima Nova W01";
  margin: 0 0 1em; }

/* Tablet styles 
  --------------------------------------------------------------------- */
/* Large Tablet 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  .breadcrumb-wrapper {
    display: block;
    margin: 0 .625em 1.5em;
    padding: 0 0 .5em; }
  .program-tabs #tabs {
    overflow: hidden;
    position: relative; }
    .program-tabs #tabs .ui-tabs-nav {
      margin: 0 0 -9999px;
      padding: 0 0 9999px; }
  .cta-blocks-wrapper {
    zoom: 1; }
    .cta-blocks-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .cta-blocks-wrapper .cta-block {
      zoom: 1;
      margin: 0 0 1.5em;
      padding: 1em 2%; }
      .cta-blocks-wrapper .cta-block:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .cta-blocks-wrapper .cta-block .cta-content {
        overflow: auto;
        overflow-x: hidden;
        -ms-overflow-x: hidden;
        padding: 0 20px 0 0; }
      .cta-blocks-wrapper .cta-block.benefits .cta-content {
        height: 300px; }
      .cta-blocks-wrapper .cta-block.benefits .disclaimer {
        margin: 20px 0 0; }
      .cta-blocks-wrapper .cta-block.news {
        float: left;
        margin: 0 2% 1.5em 0;
        width: 44%; }
        .cta-blocks-wrapper .cta-block.news .cta-content {
          height: 300px; }
      .cta-blocks-wrapper .cta-block.events {
        float: right;
        margin: 0 0 1.5em 2%;
        width: 44%; }
        .cta-blocks-wrapper .cta-block.events .cta-content {
          height: 300px; }
  .event-filter .form-item {
    float: left; }
    .event-filter .form-item.type {
      width: 100%; }
    .event-filter .form-item.start-date {
      margin: 0 1% 0 0;
      width: 49%; }
    .event-filter .form-item.end-date {
      margin: 0 0 0 1%;
      width: 49%; } }

/* Desktop 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {
  .cta-blocks-wrapper .cta-block {
    float: left;
    padding: 1em 1%; }
    .cta-blocks-wrapper .cta-block.benefits {
      margin: 0 1% 1.5em 0;
      width: 30%; }
      .cta-blocks-wrapper .cta-block.benefits .view-row {
        text-align: left; }
    .cta-blocks-wrapper .cta-block.news {
      margin: 0 1% 1.5em;
      width: 30%; }
      .cta-blocks-wrapper .cta-block.news .cta-content {
        height: 335px; }
    .cta-blocks-wrapper .cta-block.events {
      margin: 0 0 1.5em 1%;
      width: 30%; }
      .cta-blocks-wrapper .cta-block.events .cta-content {
        height: 335px; }
  .event-filter .form-item {
    float: left; }
    .event-filter .form-item.type {
      margin: 0 1% 0 0;
      width: 32%; }
    .event-filter .form-item.start-date {
      margin: 0 2% 0 0;
      width: 32%; }
    .event-filter .form-item.end-date {
      margin: 0;
      width: 32%; } }

/* Desktop 1200 styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {
  .breadcrumb-wrapper {
    margin: 0 1.5em 1.5em; } }

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */ }
    a:link.header__site-link,
    a:visited.header__site-link {
      text-decoration: none !important; }
  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */ }
    #content a[href]:after {
      content: " (" attr(href) ")";
      font-weight: normal;
      font-size: 1em; }
    #content a[href^="javascript:"]:after,
    #content a[href^="#"]:after {
      content: ""; }
    #content abbr[title]:after {
      content: " (" attr(title) ")"; }
  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }
  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important; }
  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none; } }

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}
